Importing Libraries

In [1]:
import pandas as pd
import numpy as np

Reading Data

In [4]:
#Source: https://ourworldindata.org/
covid=pd.read_csv("/content/owid-covid-data.csv")
covid

      iso_code continent  ... life_expectancy human_development_index
0          AFG      Asia  ...           64.83                   0.498
1          AFG      Asia  ...           64.83                   0.498
2          AFG      Asia  ...           64.83                   0.498
3          AFG      Asia  ...           64.83                   0.498
4          AFG      Asia  ...           64.83                   0.498
...        ...       ...  ...             ...                     ...
56849      ZWE    Africa  ...           61.49                   0.535
56850      ZWE    Africa  ...           61.49                   0.535
56851      ZWE    Africa  ...           61.49                   0.535
56852      ZWE    Africa  ...           61.49                   0.535
56853      ZWE    Africa  ...           61.49                   0.535

[56854 rows x 52 columns]

In [5]:
#Selecting the necssaray features and values only for World.
feature_name=['location', 'date', 'new_cases', 'new_deaths','new_cases_per_million','new_deaths_per_million']
complete=covid[feature_name]
world_data=complete.loc[complete.location== 'World']

#Making date in workable form
world_data[['dates', 'month', 'year' ]]=world_data.date.str.split('/', expand=True)
world_data

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

      location        date  new_cases  ...  dates  month  year
55678    World  22/01/2020        0.0  ...     22     01  2020
55679    World  23/01/2020       99.0  ...     23     01  2020
55680    World  24/01/2020      287.0  ...     24     01  2020
55681    World  25/01/2020      493.0  ...     25     01  2020
55682    World  26/01/2020      684.0  ...     26     01  2020
...        ...         ...        ...  ...    ...    ...   ...
56016    World  25/12/2020   466942.0  ...     25     12  2020
56017    World  26/12/2020   512292.0  ...     26     12  2020
56018    World  27/12/2020   432576.0  ...     27     12  2020
56019    World  28/12/2020   490741.0  ...     28     12  2020
56020    World  29/12/2020        NaN  ...     29     12  2020

[343 rows x 9 columns]

In [7]:
#checking for missing values
world_data.isna().sum()

location                  0
date                      0
new_cases                 1
new_deaths                1
new_cases_per_million     1
new_deaths_per_million    1
dates                     0
month                     0
year                      0
dtype: int64

In [8]:
#removing rows containing NA values
world_data=world_data.dropna()
world_data=world_data.drop(['date','year'], axis=1)
world_data

      location  new_cases  new_deaths  ...  new_deaths_per_million  dates month
55678    World        0.0         0.0  ...                   0.000     22    01
55679    World       99.0         1.0  ...                   0.000     23    01
55680    World      287.0         8.0  ...                   0.001     24    01
55681    World      493.0        16.0  ...                   0.002     25    01
55682    World      684.0        14.0  ...                   0.002     26    01
...        ...        ...         ...  ...                     ...    ...   ...
56015    World   671130.0     11608.0  ...                   1.489     24    12
56016    World   466942.0      8309.0  ...                   1.066     25    12
56017    World   512292.0      7077.0  ...                   0.908     26    12
56018    World   432576.0      7206.0  ...                   0.924     27    12
56019    World   490741.0      9527.0  ...                   1.222     28    12

[342 rows x 7 columns]

In [9]:
#Rearranging the columns
world_data=world_data[['location', 'dates', 'month', 'new_cases_per_million', 'new_deaths', 'new_deaths_per_million', 'new_cases']]
world_data

      location dates month  ...  new_deaths  new_deaths_per_million  new_cases
55678    World    22    01  ...         0.0                   0.000        0.0
55679    World    23    01  ...         1.0                   0.000       99.0
55680    World    24    01  ...         8.0                   0.001      287.0
55681    World    25    01  ...        16.0                   0.002      493.0
55682    World    26    01  ...        14.0                   0.002      684.0
...        ...   ...   ...  ...         ...                     ...        ...
56015    World    24    12  ...     11608.0                   1.489   671130.0
56016    World    25    12  ...      8309.0                   1.066   466942.0
56017    World    26    12  ...      7077.0                   0.908   512292.0
56018    World    27    12  ...      7206.0                   0.924   432576.0
56019    World    28    12  ...      9527.0                   1.222   490741.0

[342 rows x 7 columns]

In [10]:
#changing the precision of the columns to 2 so that less computation resources are used
w=[x for x in world_data.columns if x!= 'location']
for i in w:
  world_data[i]=world_data[i].astype(float).round(2)

world_data

      location  dates  month  ...  new_deaths  new_deaths_per_million  new_cases
55678    World   22.0    1.0  ...         0.0                    0.00        0.0
55679    World   23.0    1.0  ...         1.0                    0.00       99.0
55680    World   24.0    1.0  ...         8.0                    0.00      287.0
55681    World   25.0    1.0  ...        16.0                    0.00      493.0
55682    World   26.0    1.0  ...        14.0                    0.00      684.0
...        ...    ...    ...  ...         ...                     ...        ...
56015    World   24.0   12.0  ...     11608.0                    1.49   671130.0
56016    World   25.0   12.0  ...      8309.0                    1.07   466942.0
56017    World   26.0   12.0  ...      7077.0                    0.91   512292.0
56018    World   27.0   12.0  ...      7206.0                    0.92   432576.0
56019    World   28.0   12.0  ...      9527.0                    1.22   490741.0

[342 rows x 7 columns]

In [11]:
world_data.to_csv(r'/content/WORLD_DATA_TRANSFORMED.csv', index=False) #storing data in CSV file